/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss/forms;

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
